---
layout: default
---
<div class="row">
<div class="col-sm-12">
<div class="card-group">
		<div class="card card-outline-success card-block">
			<h4 class="card-title">Get Data</h4>
			<p class="card-text"></p>
			<a href="https://cchdo.ucsd.edu/search?q=USHYDRO" class="">Bottle &amp; CTD Listing (CCHDO)</a><br>
			<a href="{{site.baseurl}}/hydrotable/" class="">See Other Data Types</a>
			<hr>
			<h5>Data Downloads</h5>
			<a href="https://cchdo.ucsd.edu/search?q=USHYDRO&download=exchange%2cbottle" class="">All US GO-SHIP Bottle Data (zip)</a><br>
			<a href="https://cchdo.ucsd.edu/search?q=USHYDRO&download=exchange%2cctd" class="">All US GO-SHIP CTD Data (zip)</a><br>
		</div>

		<div class="card card-outline-success card-block">
			<h4 class="card-title">Get Information</h4>
			<p class="card-text"></p>
			<a href="{{site.baseurl}}/hydrotable/" class="">Cruise Schedules</a><br>
			<a href="{{site.baseurl}}/hydrotable/" class="">Cruise Data Sources</a><br>
			<a href="{{site.baseurl}}/hydromap/" class="">Cruise Maps</a>
		</div>


		<div class="card card-outline-success card-block">
			<h4 class="card-title">Get Involved</h4>
			<p class="card-text"></p>
			<a href="{{site.baseurl}}/get_involved/#students" class="">Students</a><br>
			<a href="{{site.baseurl}}/get_involved/#co-chief-scientists" class="">Co-chief Scientists</a><br>
			<a href="{{site.baseurl}}/get_involved/#chief-scientists" class="">Chief Scientists</a><br>
			<a href="{{site.baseurl}}/get_involved/#postdoctoral-fellowships" class="">Postdoctoral Fellowships </a><br>
			<a href="{{site.baseurl}}/get_involved/#new-measurements" class="">New Measurements</a><br>
		</div>
</div>
</div>
</div>

<p class="lead">
US GO-SHIP is part of the <a href="http://www.go-ship.org/">international GO-SHIP</a> network of sustained hydrographic sections, supporting physical oceanography, the carbon cycle, and marine biogeochemistry and ecosystems. The US program is sponsored by <a href="http://usclivar.org/">US CLIVAR</a> and <a href="http://www.us-ocb.org/">OCB</a>.
</p>

<div class="row">
<div class="col-sm-12">

	<h1 class="page-heading">News</h1>
  {% for post in site.categories.sticky limit: 3 %}
<div class="card card-outline-success card-block post">
  <h4 class="card-title">{{post.title}} <small>{{ post.date | date: "%b %-d, %Y" }}</small></h4>
  {{post.excerpt}}
  <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More</a>
</div>
  {% endfor %}
	{% for post in site.posts %}
<div class="card card-block post">
  <h4 class="card-title">{{post.title}} <small>{{ post.date | date: "%b %-d, %Y" }}</small></h4>
  {{post.excerpt}}
  <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More</a>
</div>
	{% endfor %}

</div>
</div>

	<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
