<div class="row p-a-1">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/bibliography/">Bibliography</a>
    </li>
  </ul>
</div>

<div class="card">
  <h4 class="card-header card-success">
    Get Invovled
  </h4>
  <div class="card-block">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>

