<div class="row p-a-1">
  <ul class="nav nav-pills nav-stacked">

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/about/">
        About
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/get_involved/">
        Get Involved
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/hydrotable/">
        Cruise Data<br/>
        Cruise Schedule
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/hydromap/">
        Cruise Maps
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/executive_council/">
        US Executive Council
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/people/">
        Personnel
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="http://www.go-ship.org/Bib.html" rel="noopener noreferrer">
        Bibliography
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/links/">
        Links
      </a>
    </li>

  </ul>
</div>


