<div class="row p-a-1">
  <ul class="nav nav-pills nav-stacked">

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/about/">
        About
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/hydrotable/">
        Cruise Data
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/hydrotable/">
        Cruise Schedules
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/bibliography/">
        Bibliography
      </a>
    </li>

  </ul>
</div>


